/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    background-color: #FFF7E8;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}
a {
    text-decoration: none;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
/* ---------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
._container{
    max-width: 1070px;
    padding: 0 15px;
    margin: 0px auto;
    box-sizing: content-box;
    background-color: aqua;
}
/* ----------------HEADER------------ */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    flex-direction: row;
    min-height: 27px;
    align-items: center;
}
.header__logo {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.06em;
}
.header__menu {
    margin: 0 0 0 545px;
}
.menu {
    padding: 5px 0;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item:not(:last-child) {
    margin: 0 32px 0 0px;
}
.menu__link {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #000;
}

/* ----------------MAIN------------ */
.main {
    width: 100%;
}
.block__performance{
  display: flex;
  padding: 128px 0 95px 0;
}
.menu__block1 {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 615px;
  background-color: #D85841;
}
.block1__text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 49px 17px 33px 17px;
  color: #FFFFFF
}
.block1__button {
  display: flex;
  width: 175px;
  height: 53px;
  background-color: #fff;
  border-radius: 13px;
  margin: 0px 158px 10px 17px;
}
.button__text {
  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  letter-spacing: -0.04em;
  padding: 10px 10px 10px 24px;
  
}
.button__icon {
  width: 24px;
  height: 24px;
  margin: 14.5px 24px 14.5px 0px;
}
.menu__block2 {
  width: 350px;
  height: 426px;
  background-color: #F3B848;
  
  margin: 189px 9px 0px 11px;
}
.block2__foto {
  position: relative;
width: 309px;
height: 613px;
left: 20px;
right: 21px;
bottom: 187px;
}
.menu__block3 {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 615px;
  background-color: #1C4931;
}
.block3__foto1 {
  position: relative;
  height: 215px;

}
.block3_text {
  flex:none;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.04em;
  margin: 65px 19px 62px 15px;
  color: #fff;
}
/* ----------------main-page2------------ */
.block__services {
  display: flex;
}
.block__services__offer {
  display: flex;
  flex-direction: column;
}
.offer__text1 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 121.7%;
  /* or 78px */

  letter-spacing: -0.04em;
  text-decoration-line: underline;

  color: rgba(0, 0, 0, 0.9);
}
.offer__text2 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.04em;

  color: rgba(0, 0, 0, 0.8);
}
.block__services__types {
  display: flex;
  flex-direction: column;
}
.types__block {
}
.services__types__line {
  border: 1px solid #1C4931;
}
.block-shere {
  display: flex;
}
.services__types__text {
  display: flex;
  flex-direction: column;
}
.main-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 121.7%;
  /* identical to box height, or 78px */

  letter-spacing: -0.04em;

  color: rgba(0, 0, 0, 0.9);
}
.description- {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.04em;

  color: rgba(0, 0, 0, 0.8);
}

.services__types__icon_green {
}
/* ----------------FOOTER------------ */
