/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    background-color: #FFF7E8;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}
a {
    text-decoration: none;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
/* ---------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
._container{
    max-width: 1070px;
    padding: 0 15px;
    margin: 0px auto;
    box-sizing: content-box;
    background-color: #FFF7E8;

}
/* ----------------HEADER------------ */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    flex-direction: row;
    min-height: 27px;
    align-items: center;
}
.header__logo {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.06em;
}
.header__menu {
    margin: 0 0 0 545px;
}
.menu {
    padding: 5px 0;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item:not(:last-child) {
    margin: 0 32px 0 0px;
}
.menu__link {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #000;
}

/* ----------------MAIN------------ */
.main {
    width: 100%;
}
.block__performance{
  display: flex;
  padding: 128px 0 95px 0;
}
.menu__block1 {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 615px;
  background-color: #D85841;
}
.block1__text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 49px 17px 33px 17px;
  color: #FFFFFF
}
.block1__button {
  display: flex;
  width: 175px;
  height: 53px;
  background-color: #fff;
  border-radius: 13px;
  margin: 0px 158px 10px 17px;
}
.button__text {
  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  letter-spacing: -0.04em;
  padding: 10px 10px 10px 24px;
  
}
.button__icon {
  width: 24px;
  height: 24px;
  margin: 14.5px 24px 14.5px 0px;
}
.menu__block2 {
  width: 350px;
  height: 426px;
  background-color: #F3B848;
  
  margin: 189px 9px 0px 11px;
}
.block2__foto {
  position: relative;
width: 309px;
height: 613px;
left: 20px;
right: 21px;
bottom: 187px;
}
.menu__block3 {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 615px;
  background-color: #1C4931;
}
.block3__foto1 {
  position: relative;
  height: 215px;

}
.block3_text {
  flex:none;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.04em;
  margin: 65px 19px 62px 15px;
  color: #fff;
}
/* ----------------main-page2------------ */
.block__services {
  display: flex;
  padding: 0 0 57px 0;
}
.block__services__offer {
  display: flex;
  flex-direction: column;
  width: 440px;
  margin: 0 100px 0 0;
}
.offer__text1 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 121.7%;
  /* or 78px */

  letter-spacing: -0.04em;
  text-decoration-line: underline;

  color: rgba(0, 0, 0, 0.9);

  padding: 0 0 33px 0;
}
.offer__text2 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.04em;

  color: rgba(0, 0, 0, 0.8);
}
.block__services__types {
  display: flex;
  flex-direction: column;
  width: 530px;
  width: 606px;
}
.services__types__line {
  border: 1px solid #1C4931;
}
.block-shere {
  display: flex;
}
.services__types__text {
  display: flex;
  flex-direction: column;
  width: 326px;
  margin: 0 65px 0 0;
}
.main-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 121.7%;
  /* identical to box height, or 78px */

  letter-spacing: -0.04em;

  color: rgba(0, 0, 0, 0.9);
}
.description {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.04em;

  color: rgba(0, 0, 0, 0.8);
}

.icon_green {
  width: 101px;
  height: 101px;
  margin: auto;
  justify-self: end;
}
.icon {
  width: 101px;
  height: 101px;
  margin: auto;
  justify-self: end;
}
/* working process */

.working__process {
  padding:  0 0 177px 0;
}
.working__process__text {
  width: 496px;
  height: 234px;
  margin: 0 0 80px 0;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 121.7%;
  /* or 78px */

  letter-spacing: -0.04em;
  text-decoration-line: underline;

  color: rgba(0, 0, 0, 0.9);
}
.working__process__descriptions {
  display: flex;
  gap: 49px;
}
.block__main-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 121.7%;
  /* identical to box height, or 39px */

  letter-spacing: -0.04em;

  color: rgba(0, 0, 0, 0.9);
  margin: 0 0 9px 0;
}
.block__description-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 121.7%;
  /* or 22px */

  letter-spacing: -0.04em;

  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 23px 0;
}
.block1__line_red {
  border: 3px solid #D85841;
}
.block2__line_yellow {
  border: 3px solid #F3B848;
}
.block2__line_green {
  border: 3px solid #1C4931;
}
/* latest project */
.latest__project {
  padding: 0 0 149px 0;
}


.latest__project__title {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 121.7%;
  /* identical to box height, or 78px */

  letter-spacing: -0.04em;
  text-decoration-line: underline;

  color: rgba(0, 0, 0, 0.9);
  margin: 0 0px 50px 0;
}
.latest__project__page1 {
  margin: 0 0 69px 0;
}
.page1__title {
  display: flex;
  margin: 0 0 20px 0;
  width: 744px;
}
.title__text {

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 121.7%;
  /* or 58px */

  letter-spacing: -0.04em;

  color: rgba(0, 0, 0, 0.9);
  align-self: center;
  flex-wrap: wrap;
}
.icon__latest__project {
  justify-self: end;
  margin: 0 0 0 auto;
}
.page__foto {
  height: 448px;
}
.latest__project__page2 {
  margin: 0 0 69px 0;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
}

.page2__title {
  display: flex;
  margin: 0 0 20px 0;
  width: 744px;
}
.page3__title {
  display: flex;
  margin: 0 0 20px 0;
  width: 744px;
}
/* social media */
.block__social-media {
  display: flex;
  width: 1071px;
  background-color: #D85841;
}
.social-media__foto {
  width: 438px;
  height: 506px;
  margin: 24px 0 0 0;
}
.social-media__text {
  margin: 0 0 0 92px;
  display: flex;
  flex-direction: column;
}
.text1 {
  margin: 78px 92px 22px 0;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 121.7%;
  /* or 58px */

  letter-spacing: -0.04em;

  color: rgba(255, 255, 255, 0.9);
}
.text2 {
  margin: 0px 92px 6px 0;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.04em;
  
  color: rgba(255, 255, 255, 0.8);
}
.text2#text-2 {
  margin: 6px 92px 24px 0;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.04em;

  color: rgba(255, 255, 255, 0.8);
}
.text3 {
  margin: 0 92px 40px 0;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-decoration-line: underline;

  color: rgba(255, 255, 255, 0.8);
}
.social-media__icon-foto {
  width: 159px;
  height: 24px;
}
/* ----------------reviews---------------- */
.block__review {
 padding: 134px 0 177px 0;
}
.review__text {
  margin: 0 0 46px 0;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 121.7%;
  /* or 78px */

  letter-spacing: -0.04em;
  text-decoration-line: underline;

  color: rgba(0, 0, 0, 0.9);
}
.three_blockes {
  display: flex;
  gap: 12px;
}
.block_yellow {
  width: 349px;
  height: 329px;
  background: #F3B848;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 11px;
}
.review__text_margin {
  margin: 23px 29px 23px 27px;
}
.block_title {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 121.7%;
  /* or 29px */

  letter-spacing: -0.04em;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.block__review__main-text {
margin: 24px 0;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 121.7%;
  letter-spacing: -0.04em;

  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.block__review-name {
  font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 121.7%;
letter-spacing: -0.04em;
text-decoration-line: underline;

color: #FFFFFF;

flex: none;
order: 0;
flex-grow: 0;
}
.block__stars {
  width: 120px;
  height: 24px;
}
.block_green {
  width: 349px;
  height: 329px;
  background: #1C4931;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 11px;
}
.block_red {
  width: 349px;
  height: 329px;
  background: #D85841;
border: 3px solid rgba(0, 0, 0, 0.8);
border-radius: 11px;
}
/* ----------------working together------------ */
.block__working {
  width: 1070px;
  height: 337px;

  background: #1C4931;
}
.working__main {
  display: flex;
  flex-direction: column;

}
.working__text {
  margin: 63px 298px 42px 326px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 121.7%;
  /* or 58px */

  text-align: center;
  letter-spacing: -0.04em;

  color: rgba(255, 255, 255, 0.9);
}
.working__button {
  margin: 0 461px 0 434px;
}
/* ----------------FOOTER------------ */
footer {
  padding: 23px 327px;
}
.footer__text{
  margin: 15px 0 0 0;

  display: flex;
  justify-content: center;
  align-content: center;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.04em;

  color: rgba(0, 0, 0, 0.8);
}
